@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;900&family=Rubik+Bubbles&display=swap');

*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Kanit', sans-serif;

}
#banner{
	background-image: url("../image/pngwing.com (3).png");
	height: 100vh;
	background-position: center;
	font-family: 'Rubik Bubbles', cursive;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: antiquewhite;
	padding: 0 30px;
	
}
#banner h1{
	font-size: 100px;
	font-weight: 100;
}
#banner i{
	font-size: 25px;
	padding: 10px;
	
}
@keyframes lenxuong{
	0%{
		transform: translateY(0);	
	}
	100%{
		transform: translateY(20px);
	}
}
#banner .nutchuyendong{
	animation: lenxuong 1s infinite alternate;
}
#about{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 50px 100px;
}
#about img{
	width:600px;
}
#about .canhan{
	width: 40%;
}
h1{
	font-size: 40px;
}

#skill{
	text-align: center;
	padding: 50px 100px;
	
}
hr{
	border: 2px solid #000000;
	width: 50%;
	border-radius: 5px;
	margin: 0 auto;
	
}
#skill .anhcongcu img{
	display: inline;
	justify-content: space-between;
	width: 150px;
	padding: 40px;
	

}
#skill .doan{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px;
}
#skill .doan h1{
	position: absolute;
	margin-left:6%;
	color: brown;
	font-size: 60px
	

}
#skill .doan img{
	position: relative;
}
.btn1{
	font-weight: bold;
	font-size: 30px;
	color: brown;
	border: 3px solid #E6A30C;
	border-radius: 20px;
	text-decoration: none;
	width: 300px;
	height: 70px;
	padding:40px 20px 20px 20px;
	letter-spacing: 3px;
	margin-right: 50px;
}
.btn1:hover{
	background: #E6A30C;
	color: aliceblue;
}
#skill .doan .muiten{
	animation: qualai 1s infinite alternate;
	font-size: 70px;
	color: brown; 
}

@keyframes qualai{
	0%{
		transform: translateX(0);	
	}
	100%{
		transform: translateX(100px);
	}
}
#product{
	padding: 50px 100px;
	text-align: center;
	
}
#product ul {
	padding: 10px 0px 30px;
	list-style-type: none;
}
#product ul li {
	display: inline;
	padding: 15px;
}
#product img{
	width: 300px;
	object-fit: cover;
	height: 450px;
	transition: 0.5s;
}
#product .sanpham{
	display:grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 20px;

}
#product img:hover {
  box-shadow: 0 0 25px currentColor , 0 0 10px currentColor;
  
}


#getin{
	padding: 50px 100px 100px;
	text-align: center;
}
#getin .contacticon{
	display: flex;
	justify-content: space-between;
	padding: 50px 300px;
	
}	
.from{
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 20px;
	
}
.from textarea{
	grid-column: 1/3;
}
.from textarea,input{
	border:none;
	padding: 5px;
	border-bottom: 1px solid;
}
header {
	display:none;
	justify-content: space-around;
	padding: 5px 150px;
	position: fixed;
	background-color: lightgray;
	align-items: center;
	width: 80%;
	z-index:99;
}
header ul a{
	text-decoration: none;
	color: black;
}
header ul a:hover{
	color: brown;
	font-weight: 900;
}
header img{
	width: 70px;
	height: 100%;
}
header ul li{
	display: inline;
	padding: 20px;
	
	
}
.btn2{
	font-weight: bold;
	font-size: 15px;
	color: brown;
	border: 3px solid #E6A30C;
	border-radius: 20px;
	text-decoration: none;
	width: 200px;
	height: 10px;
	padding:10px 0px 20px;
	letter-spacing: 3px;
	
	
}
.btn2:hover{
	background: #E6A30C;
	color: aliceblue;
}
.container{
	background-color: lightgray;
	padding: 20px;
}
.container p{
	text-align: center;
}
	